@import './node_modules/foundation-sites/scss/foundation';

$header-font-family: 'Nunito';
$header-font-weight: 800;
$header-color: #5FAD56;
$body-font-family: Nunito;
$body-font-color: #363537;
$body-background: #F6F6F8;
$topbar-background: #ffffff;
$topbar-submenu-background: #ffffff;
$button-background-hover: #92c78e;
$button-background: $header-color;
$accordionmenu-arrow-color: $header-color;
$global-radius: 10px;
$card-border-radius: $global-radius;
$button-radius: $global-radius;
$card-divider-background: white;

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic pages
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
//@include foundation-label;
@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic pages
@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
//@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout pages
@include foundation-off-canvas;
@include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
@include foundation-top-bar;

// Helpers
// @include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.green {
  color: $header-color;
}

textarea {
  resize: none;
}

label {
  color: $body-font-color;
}

.reveal {
  height: auto;
  min-height: 0;
  width: auto;
}

.small-font {
  font-size: 0.8rem;
}

.reveal {
  max-width: 25rem;
}

.sold-out {
  text-decoration: line-through;
}

.shadowed {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.round {
  border-radius: $global-radius;
  border: none;
}

.mobile-accordion {
  @include breakpoint(large) {
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.menu a {
  color: $header-color;
}

.menu li {
  @include breakpoint(medium down) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.is-submenu-item {
  padding: 10px 0 10px 10px !important;
  @include breakpoint(medium down) {
    padding: 10px 0 20px 20px !important;
  }
}

.sub-collection {
  padding: 20px 0 20px 70px !important;
}

.title-bar a {
  color: $header-color;
}

.dropdown.menu.large-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-color: $header-color transparent transparent;
}

.menu-icon::after {
  /* the block itself, the first line */
  background: $header-color;
  /* middle and bottom */
  box-shadow: 0 7px 0 $header-color, 0 14px 0 #fecf0f;
  /* respect WebKit */
  -webkit-box-shadow: 0 7px 0 $header-color, 0 14px 0 $header-color;
}

.product-img {
  object-fit: cover;
  height: 200px;
  @include breakpoint(medium down) {
    height: 150px;
  }
  @include breakpoint(small down) {
    height: 100px;
  }
}

.footer a {
  color: $body-font-color;
}

h5 {
  @include breakpoint(medium down) {
    font-size: 0.9rem;
  }
}

.article-card {
  height: 100%;
}

.article-card img {
  height: 100%;
  object-fit: cover;
}
