<mjml>
    <mj-head>
        <mj-attributes>
            <mj-all font-family="Arial, Verdana" color="#343434" />
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-section>
            <mj-column>
                <mj-image src="https://wormenkwekerijwasse.netlify.app/logo-wormenkwekerijwasse.png"></mj-image>
                <mj-divider border-color="#343434"></mj-divider>

            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-text color="#525252">
                    Er is een nieuw wachtwoord voor u aangevraagd. Druk op onderstaande knop om een nieuw wachtwoord in te stellen.
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>


                <mj-button background-color="#5FAD55" color="white" href="{{ passwordResetUrl }}?token={{ passwordResetToken }}">
                Nieuw wachtwoord instellen
                </mj-button>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-text color="#525252">
                    Als u geen nieuw wachtwoord heeft aangevraagd, kunt u deze email negeren. Er is niets gewijzigd aan uw account.
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section>
            <mj-column>
                <mj-divider border-color="#343434"></mj-divider>
                <mj-text>Vragen of opmerkingen? Neem contact op via <a href="mailto:info@wormenkwekerijwasse.nl">info@wormenkwekerijwasse.nl</a></mj-text>
            </mj-column>
        </mj-section>

    </mj-body>
</mjml>